In [2]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['HR', 'IT', 'HR', 'Marketing'],
    'Email': ['alice@example.com', 'bob@example.com', 'charlie@example.com', 'david@example.com']
}

df = pd.DataFrame(data)
df

      Name Department                Email
0    Alice         HR    alice@example.com
1      Bob         IT      bob@example.com
2  Charlie         HR  charlie@example.com
3    David  Marketing    david@example.com

In [3]:
dict_records = df.to_dict(orient='records')
dict_records

[{'Name': 'Alice', 'Department': 'HR', 'Email': 'alice@example.com'},
 {'Name': 'Bob', 'Department': 'IT', 'Email': 'bob@example.com'},
 {'Name': 'Charlie', 'Department': 'HR', 'Email': 'charlie@example.com'},
 {'Name': 'David', 'Department': 'Marketing', 'Email': 'david@example.com'}]

In [4]:
print(len(dict_records))

4