In [3]:
import pandas as pd

# Creating sample data for January
data_jan = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03'],
    'Sales': [200, 240, 310]
}
jan_df = pd.DataFrame(data_jan)
print(jan_df)

# Creating sample data for February
data_feb = {
    'Date': ['2023-02-01', '2023-02-02', '2023-02-03'],
    'Sales': [180, 250, 290]
}
feb_df = pd.DataFrame(data_feb)
feb_df

         Date  Sales
0  2023-01-01    200
1  2023-01-02    240
2  2023-01-03    310

         Date  Sales
0  2023-02-01    180
1  2023-02-02    250
2  2023-02-03    290

In [ ]:
combined_df = pd.concat([jan_df, feb_df], ignore_index=False)
print(combined_df)
# ignore_index=True: This parameter is set to ensure that the resulting DataFrame has a continuous index. Otherwise, 
# both DataFrames would start their indices from 0, potentially causing issues if index-based operations are performed later.

         Date  Sales
0  2023-01-01    200
1  2023-01-02    240
2  2023-01-03    310
0  2023-02-01    180
1  2023-02-02    250
2  2023-02-03    290

In [7]:
combined_horizontal_df = pd.concat([jan_df, feb_df], axis=1)
print(combined_horizontal_df)

         Date  Sales        Date  Sales
0  2023-01-01    200  2023-02-01    180
1  2023-01-02    240  2023-02-02    250
2  2023-01-03    310  2023-02-03    290