In [4]:
import pandas as pd

In [5]:
# Reading csv file
df_exams = pd.read_csv('../StudentsPerformance.csv')
# Show df
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# Selecting one column

### Syntax 1

In [6]:
# Selecting a column with [] (preferred way to select a column)
df_exams['gender']

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [7]:
# Check the data type of the column
type(df_exams['gender'])

pandas.core.series.Series

In [8]:
# Check the whole dataframe index attribute
df_exams.index

RangeIndex(start=0, stop=1000, step=1)

In [9]:
# Check one particular column index attribute of the dataframe
df_exams['lunch'].index

RangeIndex(start=0, stop=1000, step=1)

In [10]:
# Check first 5 row data of a column
df_exams['gender'].head(n=5)

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

### Syntax 2

In [11]:
# Select a column with .
df_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [12]:
# Check one particular column index attribute of the dataframe
df_exams.gender.index

RangeIndex(start=0, stop=1000, step=1)

In [13]:
# Check one particular column index attribute of the dataframe
df_exams['math score'].index

RangeIndex(start=0, stop=1000, step=1)

In [14]:
# First 5 data for a particular column
print(df_exams['math score'].head(n=5))
print(df_exams.gender.head(n=5))

0    72
1    69
2    90
3    47
4    76
Name: math score, dtype: int64
0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object